<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Simple Calculator</title>
</head>
<body   bgcolor="gray">
        <h1> Kalkulator </h1>
        <form action = "/result">

            <label>Podaj liczbę a : <br></label>
            <input type="text" name="a"><br>
            <label>Podaj liczbę b : </label><br>
            <input type="text" name="b"><br>

            <br> CHOOSE OPERATION:
            <br>
            <input type="submit" class="button" name="add" value="+">
            <input type="submit" class="button" name="subtraction" value="-">
            <input type="submit" class="button" name="multiplication" value="*">
            <input type="submit" class="button" name="division" value="/">

        </form>

</body>
</html>